---
Checks: "-*,
         bugprone-*,
         clang-analyizer-*,
         concurrency-*,
         cppcoreguidelines-*,
         -cppcoreguidelines-avoid-magic-numbers,
         misc-*,
         modernize-*,
         performance-*,
         portability-*,
         readability-*,
         -misc-no-recursion,
         -bugprone-easily-swappable-parameters,
		 -readability-identifier-length,
         -modernize-use-auto"

WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
UseColor: true
CheckOptions:
- key: readability-magic-numbers.IgnorePowersOf2IntegerValues
  value: true
- key: performance-move-const-arg.CheckTriviallyCopyableMove
  value: false
- key: readability-function-cognitive-complexity.IgnoreMacros
  value: true
